h1 {
  text-align: center;
  font-weight: normal;
  text-decoration: red underline wavy 3px;
  letter-spacing: 5px;
  font-size: 50px;
  font-family: sans-serif;
  text-transform: uppercase;
}
p {
  line-height: 2;
}
